<a href="https://colab.research.google.com/github/Animeshp43/VADDOT/blob/main/Covid_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from  sklearn.metrics import accuracy_score

In [2]:
df_cp=pd.read_excel("Demographic CONTROL.xlsx")

In [3]:
df_cp

   Unnamed: 0 Unnamed: 1 Unnamed: 2
0          ID     Gender        Age
1          11          F         49
2          12          F         55
3          13          F         52
4          14          F         10
5          15          M         52
6          16          F         49
7          17          F         52
8          18          M         22
9          19          F         49
10         21          M         56
11         24          F         55
12         25          F         55
13         26          F         55
14         27          M         25
15         29          F         55
16         30          F         56
17         31          F         54
18         34          F         29
19         37          F         45
20         38          F         51
21         39          M         13
22         40          M         55
23         41          F         56
24         42          M         55
25         43          M         13
26         44          F         50
27         45          M         54
28         46          M         48
29         47          F         55
30         48          F         47
31         49          F         29
32         50          F         32
33         51          M         30
34         52          M         35
35         53          M         43
36         54          M         32
37         55          F         55
38         56          M         55
39         57          M         53
40         58          M         60
41         59          M         42
42         60          M         61
43         61          F         23
44         62          F         26
45         63          M         51
46         64          F         63
47         65          M         62
48         66          F         33

In [4]:
df_cp1=pd.read_excel("Demographic COVID.xlsx")

In [5]:
df_cp1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,ID,Gender,Age,O2 Suplementation,Day 1,Day 2,Day 3,Day 4,Day 5,...,Day 13,Day 14,Day 15,Day 16,Day 17,Day 18,Day 19,Day 20,Day 21,Day 22
1,NaN,1,M,66,-,NaN,NaN,NaN,NaN,NaN,...,aeiou-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,F,46,-,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,F,38,-,NaN,NaN,aeiou-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4,F,63,-,NaN,NaN,NaN,NaN,aei-u-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,5,M,13,-,NaN,NaN,NaN,NaN,NaN,...,ae-oum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,6,F,16,-,NaN,NaN,NaN,NaN,NaN,...,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,7,M,40,8 lpm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,8,M,65,8 lpm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,9,F,43,8 lpm,NaN,NaN,NaN,NaN,NaN,...,NaN,aeioum,aeioum,NaN,aeioum,NaN,NaN,NaN,NaN,NaN
10,NaN,10,M,67,8 lpm,NaN,NaN,NaN,NaN,NaN,...,-eioum,aeioum,aeioum,aeioum,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,11,M,50,8 lpm,NaN,NaN,NaN,NaN,NaN,...,NaN,aeioum,NaN,aeioum,aeioum,NaN,NaN,NaN,NaN,NaN
12,NaN,12,F,23,-,aeiou-,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,13,M,19,3-5 lpm,aeiou-,-eioum,aeioum,aeioum,aeioum,...,NaN,NaN,NaN,NaN,aeioum,aeioum,NaN,aeioum,NaN,NaN
14,NaN,14,M,78,3-5 lpm,ae-o-m,ae-o-m,ae-o-m,ae-o-m,ae-o-m,...,NaN,NaN,NaN,NaN,ae-o-m,ae-oum,NaN,ae-oum,NaN,NaN
15,NaN,15,F,58,8 lpm,ae-o--,ae-ou-,aeioum,NaN,aeioum,...,NaN,NaN,aeioum,NaN,-eioum,NaN,aeioum,NaN,NaN,NaN
16,NaN,16,M,57,3-5 lpm,aeiou-,aeioum,aeioum,NaN,NaN,...,NaN,aeioum,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,aeioum
17,NaN,17,M,39,8 lpm,NaN,aeiou-,aeioum,NaN,NaN,...,NaN,aeiou-,aeioum,NaN,aeioum,NaN,NaN,NaN,NaN,NaN
18,NaN,18,F,55,3-5 lpm,aeioum,aeioum,aeioum,NaN,aeioum,...,aeioum,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,19,F,35,3-5 lpm,aeioum,aeioum,aeioum,NaN,aeioum,...,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,20,M,40,3-5 lpm,aeioum,aeioum,aeioum,NaN,aei-um,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,21,M,27,3-5 lpm,aeioum,aeioum,aeioum,aeioum,aeioum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,22,F,53,3-5 lpm,aeioum,aei-um,ae-o-m,NaN,NaN,...,aeioum,NaN,aeioum,NaN,NaN,NaN,NaN,aeioum,NaN,NaN
23,NaN,23,M,51,3-5 lpm,aeioum,aeiou-,aeioum,NaN,aeioum,...,-ei-um,aeioum,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,24,F,65,3-5 lpm,aeioum,NaN,aeioum,NaN,aeiou-,...,NaN,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,aeioum,NaN
25,NaN,25,M,15,3-5 lpm,aeioum,aeioum,NaN,aeioum,aeioum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,26,M,50,3-5 lpm,aeioum,aeioum,NaN,aeioum,aeioum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,27,M,38,3-5 lpm,aeiou-,aeioum,NaN,aeioum,aeioum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,28,F,33,3-5 lpm,aeioum,NaN,NaN,aeioum,-eioum,...,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,29,M,57,-,aeioum,NaN,aei-um,aeioum,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,30,F,37,-,aeiou-,NaN,aeiou-,aei-u-,aeiou-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,31,F,46,3-5 lpm,a-i-u-,NaN,aeioum,aeioum,aeioum,...,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,32,M,17,-,aeioum,NaN,aeiou-,aeioum,aeioum,...,aeioum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,33,F,57,3-5 lpm,aeiou-,aeiou-,-eioum,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,34,F,37,3-5 lpm,aeioum,aeioum,aeiou-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,35,M,28,3-5 lpm,aeiou-,aeiou-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,36,M,59,-,--io--,aeiou-,NaN,aeioum,NaN,...,NaN,NaN,aeiou-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,37,M,59,-,aeiou-,NaN,NaN,NaN,NaN,...,NaN,NaN,aeiou-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,38,F,55,3-5 lpm,-eioum,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,39,F,28,3-5 lpm,-eioum,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,40,F,27,3-5 lpm,aeiou-,aeiou-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,colum F - AA,NaN,Valid phoneme recorded for the patient at that...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Day **,NaN,Is the number of days the patient is in the ho...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,Colum E,NaN,"dash ""-"" means the patient was not given any O...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_cp2=pd.read_excel("MFCCDescription.xlsx")

In [7]:
df_cp2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Column,NaN,Parameter,Value,NaN,NaN,NaN,NaN,NaN
1,1,A,Phoneme,1=/a/,2=/i/,3=/u/,4=/e/,5=/o/,6=/m/
2,2,B,Day / control subjedt ID,Day ini hopsital for COVID patient / ID for Co...,NaN,NaN,NaN,NaN,NaN
3,3,C,MFCC0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,D,MFCC1,NaN,NaN,NaN,NaN,NaN,NaN
5,5,E,MFCC2,NaN,NaN,NaN,NaN,NaN,NaN
6,6,F,MFCC3,NaN,NaN,NaN,NaN,NaN,NaN
7,7,G,MFCC4,NaN,NaN,NaN,NaN,NaN,NaN
8,8,H,MFCC5,NaN,NaN,NaN,NaN,NaN,NaN
9,9,I,MFCC6,NaN,NaN,NaN,NaN,NaN,NaN
10,10,J,MFCC7,NaN,NaN,NaN,NaN,NaN,NaN
11,11,K,MFCC8,NaN,NaN,NaN,NaN,NaN,NaN
12,12,L,MFCC9,NaN,NaN,NaN,NaN,NaN,NaN
13,13,M,MFCC10,NaN,NaN,NaN,NaN,NaN,NaN
14,14,N,MFCC11,NaN,NaN,NaN,NaN,NaN,NaN
15,15,O,MFCC12,NaN,NaN,NaN,NaN,NaN,NaN
16,16,P,Label,1=COVID,0=Normal,NaN,NaN,NaN,NaN

In [8]:
df_cp.shape

(49, 3)

In [9]:
df_cp3=pd.read_excel("paramDescription.xlsx")

In [10]:
df_cp3

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Column,NaN,Parameter,Value,NaN,NaN,NaN,NaN,NaN
1,1,A,Phoneme,1=/a/,2=/i/,3=/u/,4=/e/,5=/o/,6=/m/
2,2,B,Day / control subjedt ID,Day ini hopsital for COVID patient / ID for Co...,NaN,NaN,NaN,NaN,NaN
3,3,C,Jitter abs,sec,NaN,NaN,NaN,NaN,NaN
4,4,D,Jitter rel,rasio,NaN,NaN,NaN,NaN,NaN
5,5,E,Shimmer abs,dB,NaN,NaN,NaN,NaN,NaN
6,6,F,Shimmer rel,rasio,NaN,NaN,NaN,NaN,NaN
7,7,G,std(Pitch),Hz,NaN,NaN,NaN,NaN,NaN
8,8,H,HNR,dB,NaN,NaN,NaN,NaN,NaN
9,9,I,NHR,rasio,NaN,NaN,NaN,NaN,NaN
10,10,J,mean(F1),Hz,NaN,NaN,NaN,NaN,NaN
11,11,K,mean(F2),Hz,NaN,NaN,NaN,NaN,NaN
12,12,L,mean(F3),Hz,NaN,NaN,NaN,NaN,NaN
13,13,M,mean(F4),Hz,NaN,NaN,NaN,NaN,NaN
14,14,N,std(F1),Hz,NaN,NaN,NaN,NaN,NaN
15,15,O,std(F2),Hz,NaN,NaN,NaN,NaN,NaN
16,16,P,std(F3),Hz,NaN,NaN,NaN,NaN,NaN
17,17,Q,std(F4),Hz,NaN,NaN,NaN,NaN,NaN
18,18,R,VTL(F1),cm,NaN,NaN,NaN,NaN,NaN
19,19,S,VTL(F2),cm,NaN,NaN,NaN,NaN,NaN
20,20,T,VTL(F3),cm,NaN,NaN,NaN,NaN,NaN
21,21,U,VTL(F4),cm,NaN,NaN,NaN,NaN,NaN
22,22,V,mean(Intensity),dB,NaN,NaN,NaN,NaN,NaN
23,23,W,std(Intensity),dB,NaN,NaN,NaN,NaN,NaN
24,24,X,Label,1=COVID,0=Normal,NaN,NaN,NaN,NaN

In [11]:
df_cp.shape

(49, 3)

In [12]:
df_cp.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2
0         ID     Gender        Age
1         11          F         49
2         12          F         55
3         13          F         52
4         14          F         10

In [13]:
df_cp1.shape

(47, 27)

In [14]:
df_cp2.shape

(17, 9)

In [15]:
df_cp3.shape

(25, 9)

In [16]:
df_cp.shape

(49, 3)

In [17]:
df_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  49 non-null     object
 1   Unnamed: 1  49 non-null     object
 2   Unnamed: 2  49 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [18]:
df_cp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   44 non-null     object
 2   Unnamed: 2   41 non-null     object
 3   Unnamed: 3   44 non-null     object
 4   Unnamed: 4   41 non-null     object
 5   Unnamed: 5   29 non-null     object
 6   Unnamed: 6   20 non-null     object
 7   Unnamed: 7   20 non-null     object
 8   Unnamed: 8   13 non-null     object
 9   Unnamed: 9   18 non-null     object
 10  Unnamed: 10  16 non-null     object
 11  Unnamed: 11  12 non-null     object
 12  Unnamed: 12  11 non-null     object
 13  Unnamed: 13  14 non-null     object
 14  Unnamed: 14  9 non-null      object
 15  Unnamed: 15  2 non-null      object
 16  Unnamed: 16  10 non-null     object
 17  Unnamed: 17  12 non-null     object
 18  Unnamed: 18  9 non-null      object
 19  Unnamed: 19  10 non-null     object
 20  Unnamed: 20  3 non-null      object
 21  Unnamed: 21  7 non-null      object
 22  Unnamed: 22  3 non-null      object
 23  Unnamed: 23  2 non-null      object
 24  Unnamed: 24  4 non-null      object
 25  Unnamed: 25  2 non-null      object
 26  Unnamed: 26  2 non-null      object
dtypes: float64(1), object(26)
memory usage: 10.0+ KB

In [19]:
df_cp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  17 non-null     object
 1   Unnamed: 1  16 non-null     object
 2   Unnamed: 2  17 non-null     object
 3   Unnamed: 3  4 non-null      object
 4   Unnamed: 4  2 non-null      object
 5   Unnamed: 5  1 non-null      object
 6   Unnamed: 6  1 non-null      object
 7   Unnamed: 7  1 non-null      object
 8   Unnamed: 8  1 non-null      object
dtypes: object(9)
memory usage: 1.3+ KB

In [20]:
df_cp3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25 non-null     object
 1   Unnamed: 1  24 non-null     object
 2   Unnamed: 2  25 non-null     object
 3   Unnamed: 3  25 non-null     object
 4   Unnamed: 4  2 non-null      object
 5   Unnamed: 5  1 non-null      object
 6   Unnamed: 6  1 non-null      object
 7   Unnamed: 7  1 non-null      object
 8   Unnamed: 8  1 non-null      object
dtypes: object(9)
memory usage: 1.9+ KB

In [21]:
df_cp.describe()

       Unnamed: 0 Unnamed: 1  Unnamed: 2
count          49         49          49
unique         49          3          29
top            ID          F          55
freq            1         27          10

In [22]:
df_cp.isnull().sum()

Unnamed: 0    0
Unnamed: 1    0
Unnamed: 2    0
dtype: int64

In [23]:
df_cp1.isnull().sum()

Unnamed: 0     47
Unnamed: 1      3
Unnamed: 2      6
Unnamed: 3      3
Unnamed: 4      6
Unnamed: 5     18
Unnamed: 6     27
Unnamed: 7     27
Unnamed: 8     34
Unnamed: 9     29
Unnamed: 10    31
Unnamed: 11    35
Unnamed: 12    36
Unnamed: 13    33
Unnamed: 14    38
Unnamed: 15    45
Unnamed: 16    37
Unnamed: 17    35
Unnamed: 18    38
Unnamed: 19    37
Unnamed: 20    44
Unnamed: 21    40
Unnamed: 22    44
Unnamed: 23    45
Unnamed: 24    43
Unnamed: 25    45
Unnamed: 26    45
dtype: int64

In [24]:
df_cp2.isnull().sum()

Unnamed: 0     0
Unnamed: 1     1
Unnamed: 2     0
Unnamed: 3    13
Unnamed: 4    15
Unnamed: 5    16
Unnamed: 6    16
Unnamed: 7    16
Unnamed: 8    16
dtype: int64

In [25]:
df_cp3.isnull().sum()

Unnamed: 0     0
Unnamed: 1     1
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4    23
Unnamed: 5    24
Unnamed: 6    24
Unnamed: 7    24
Unnamed: 8    24
dtype: int64